<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
      <a href="/admin" class="navbar-brand">Юлия Рудоманенко</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if current_admin %}
          <ul class="navbar-nav">
            <li class="nav-item px-2">
              <a href="/admin" class="nav-link {% if page == 'home' %} active {% endif %}">Панель Управления</a>
            </li>
            <li class="nav-item px-2">
              <a href="/admin/session/index" class="nav-link {% if page == 'service' %} active {% endif %}">Услуги</a>
            </li>
            <li class="nav-item px-2">
              <a href="/admin/feedback/index" class="nav-link {% if page == 'message' %} active {% endif %}">Сообщения</a>
            </li>
            <li class="nav-item px-2">
              <a href="/admin/comment/index" class="nav-link {% if page == 'comment' %} active {% endif %}">Комментарии</a>
            </li>
            <li class="nav-item px-2">
              <a href="/admin/certification/index" class="nav-link {% if page == 'certificate' %} active {% endif %}">Сертификаты</a>
            </li>
            
          </ul>
        {% endif %}

        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item">
            {% if current_admin %}
              <a href="/admin/logout" class="nav-link">
                <i class="fas fa-user-times"></i> Выход
              </a>
            {% else %}
              <a href="/admin/login" class="nav-link">
                <i class="fas fa-user"></i> Вход
              </a>
            {% endif %}
            
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- HEADER -->
  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          
          <h1>
            {% if page == "login" %}
              <i class="fas fa-user"></i> Вход
            {% elseif page == "home" %}
              <i class="fas fa-cog"></i> Панель Управления
            {% elseif page == "service" %}
              <i class="fas fa-notes-medical"></i> Услуги
            {% elseif page == "message" %}
              <i class="fas fa-envelope"></i> Сообщения
            {% elseif page == "comment" %}
              <i class="fas fa-comment"></i> Комментарии
            {% elseif page == "certificate" %}
              <i class="fas fa-graduation-cap"></i> Сертификаты
            {% endif %}
            
          </h1>
        </div>
      </div>
    </div>
  </header>
