{% set page = "certificate"%}
{% extends "base.html" %}

{% block title %}Образование{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.css" integrity="sha256-K4PK62zpbl/XelQ0bLxyUztMw5nLdGyd2qGmPTGM1oY=" crossorigin="anonymous" />
{% endblock %}

{% block footer%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js" integrity="sha256-CtKylYan+AJuoH8jrMht1+1PMhMqrKnB8K5g012WN5I=" crossorigin="anonymous"></script>

{% endblock %}



{% block body %}
<!-- Certificates -->
<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Сертификаты</h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Название</th>
                </tr>
              </thead>
              <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ loop.index + ((pages.current - 1) * pages.limit) }}</td>
                        <td><a href="{{ record.image }}" data-lightbox="roadtrip">{{ record.name}}</a></td>
                    </tr>
                {% endfor %}

              </tbody>
            </table>
            <!-- PAGINATION -->
            <nav class="ml-4">
              <ul class="pagination">
                {% if pages.prev %}
                <li class="page-item ">
                  <a href="/certification/index/{{ pages.prev }}" class="page-link">&lt;</a>
                </li>
                {% endif %}

              {% for page in pages.pages %}
                <li class="page-item{% if pages.current == page %} active{% endif%}">
                  <a href="/certification/index/{{ page }}" class=" page-link">{{ page }}</a>
                </li>
              {% endfor %}
              {% if pages.next %}
                <li class="page-item">
                  <a href="/certification/index/{{ pages.next }}" class="page-link">&gt;</a>
                </li>
                <li class="page-item">
                  <a href="/certification/index/{{ pages.last }}" class="page-link">&gt;&gt;</a>
                </li>
              </ul>
              {% endif %}
            </nav>
          </div>
        </div>

      </div>
    </div>
  </section>


{% endblock %}