{% set page = "login"%}
{% extends "Admin/base.html" %}

{% block title %}Вход{% endblock %}

{% block footer%} 

{% endblock %}

{% block body %}

<section class="section container">

    <form  method="post" action="/admin/login/create">
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input class="form-control" type="email" id="inputEmail" name="email" placeholder="example@example.com" value="{{ email}}" >
        </div>
        <div class="form-group">
            <label for="inputPassword">Пароль</label>
            <input class="form-control" type="password" id="inputPassword" name="password" placeholder="Пароль">
        </div>
        <button class="btn btn-primary " type="submit">Войти</button>
        
    </form>
</section>
    

{% endblock %}