{% set page = "online_appointment"%}
{% extends "base.html" %}

{% block title %}{{ service.name }}{% endblock %}

{% block footer%} {% endblock %}

{% block body %}
    <section class="section container">
        <div class="row">
            <div class="col-lg-3">
                <img src="{{ service.path ~ service.image }}" alt="" class="img-fluid">
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <h3 class="h3 mb-4">{{ service.name }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="properties">
                            <div class="property d-flex align-items-center pb-2">
                                <i class="property__icon far fa-clock"></i>
                                <span class="property__text px-2">{{ service.duration }}</span>
                            </div>
                            <div class="property d-flex align-items-center pb-2">
                                <i class="property__icon far fa-money-bill-alt"></i>
                                <span class="property__text px-2">{{ service.price ~ service.currency }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="h4 mb-4 mt-3">Описание</h4>
                        <p>{{ service.description }}</p>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col">
                        <a class="btn btn-light " href="/appointment/{{ service.id }}/contact">Записаться</a>
                        <a class="link ml-3" href="/appointment/index">К другим услугам</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}