{% set page = "online_appointment"%}
{% extends "base.html" %}

{% block title %}{{ trans('pages.thankyou.meta_title') }}{% endblock %}

{% block footer%} {% endblock %}

{% block body %}
    <div class="container section">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column align-items-center">
                    <h2 class="h1">{{ trans('pages.thankyou.title') }}</h2>
                    <p>{{ trans('pages.thankyou.subtitle') }}</p>
                </div>
                
            </div>
        </div>
        
    </div>
    
{% endblock %}