{% set page = "comment"%}
{% extends "Admin/base.html" %}

{% block title %}Публикации{% endblock %}

{% block footer%} 

{% endblock %}

{% block body %}
<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="/admin/comment/add" class="btn btn-primary btn-block" >
          <i class="fas fa-plus"></i> Добавить публикацию
        </a>
      </div>
    </div>
  </div>
</section>
    <!-- Services -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Публикации</h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Ссылка на публикацию</th>
                  <th>Действия</th>
                </tr>
              </thead>
              <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a target="_blank" href="{{ record.link }}">{{ record.link }}</a></td>
                        <td>
                            <a href="/admin/comment/{{ record.id }}/edit" class="mr-3" >
                              <i class="fas fa-edit"></i>
                            </a>
                            <a href="/admin/comment/{{ record.id }}/delete" onclick="return confirm('Безвозвратно удалить?')" class="text-danger" >
                              <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                
              </tbody>
            </table>
            <!-- PAGINATION -->
            <nav class="ml-4">
              <ul class="pagination">
                {% if pages.prev %}
                <li class="page-item ">
                  <a href="/admin/comment/index/{{ pages.prev }}" class="page-link">&lt;</a>
                </li>
                {% endif %}

              {% for page in pages.pages %}
                <li class="page-item{% if pages.current == page %} active{% endif%}">
                  <a href="/admin/comment/index/{{ page }}" class=" page-link">{{ page }}</a>
                </li>
              {% endfor %}
              {% if pages.next %}
                <li class="page-item">
                  <a href="/admin/comment/index/{{ pages.next }}" class="page-link">&gt;</a>
                </li>
                <li class="page-item">
                  <a href="/admin/comment/index/{{ pages.last }}" class="page-link">&gt;&gt;</a>
                </li>
              </ul>
              {% endif %}
            </nav>
          </div>
        </div>
       
      </div>
    </div>
  </section>
{% endblock %}