{% set page = "message"%}
{% extends "admin/base.html" %}

{% block title %}Сообщения{% endblock %}

{% block footer%} 

{% endblock %}

{% block body %}
    <!-- Services -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Услуги</h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>№</th>
                  <th>Клиент</th>
                  <th>Телефон</th>
                  <th>Сообщение</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.customersMessagesId }}</td>
                        <td>{{ record.name }}</td>
                        <td>{{ record.phone }}</td>
                        <td>{{ record.message }}</td>
                    
                    
                    </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
       
      </div>
    </div>
  </section>
{% endblock %}