html{
    height:100%;
}
.h1{
    font-family: 'Russo One', sans-serif;
    font-size:32px;
    color: var(--light);
}
.h3{
    font-size:24px;
}
.h4{
    font-size:19px;
    font-weight:700;
}
.h5{
    font-size:13px;
    font-weight:300;
}
.active{
    color:var(--dark)!important;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: var(--light);
    background-color: var(--light);
}
:root{
    --lighter:#75C788;
    --light: #6ab47b;
    --primary:#599a68;
    --dark: #32673f;
    --secondary: #bdc3c7;
}
a{
    color: var(--primary)
}
a:hover{
    color: var(--dark);
}

.bg-lighter{
    background-color: var(--lighter)!important;
}
.bg-primary{
    background-color: var(--primary)!important;
}
.bg-light{
    background-color: var(--light)!important;
}
.bg-dark{
    background-color: var(--dark)!important;
}
.bg-secondary{
    background-color: var(--secondary)!important;
}
.btn-danger{
    background-color: var(--danger)!important;
}
.border-dark{
    border-color: var(--dark)!important;
}
.border-none{
    border:none!important;
}

.border-bottom{
    border-bottom:5px solid var(--light)!important;
}
.border-primary{
    border-color: var(--primary)!important;
}
.border-light{
    border-color: var(--light)!important;
}
.border-lighter{
    border-color: var(--lighter)!important;
}
.border-dark{
    border-color: var(--dark)!important;
}
.btn-light{
    background-color: var(--light)!important;
    color:#fff!important;
}
.btn{
    position:relative;
    border:none;
    border-radius:0;
    border-bottom: 5px solid var(--primary);
    color:#fff;
   
}
.btn-light:hover{
    border-bottom: 5px solid var(--primary);
    color:var(--dark);
    
}

.text-light{
    color:var(--light)!important;
}
.text-secondary{
    color:var(--secondary)!important;
}
/** Page **/
.page{
    height:100%;
    display:flex;
    flex-direction:column;
    font-family:'Open Sans', sans-serif!important;
}
.page__main{
    flex-grow:1;
}
/** Header **/
.header{
    color:white;
}
.main-nav,
.secondary-nav{
    font-weight:800;
}
.main-nav{
    font-size:17px;
}
.secondary-nav{
    font-size:14px;
}
.phone__number{
    font-size:18px;
}
.phone__icon{
    font-size: 24px;
}
.phone__inner{
    height:50px;
}
.nav-link:hover{
    color: var(--dark)!important;
}
.navbar-brand__name{
    margin-bottom:0;
}
.navbar-brand__position{
    font-size: 16px;
}
.facebook__icon{
    font-size:24px;
}
.section{
    margin-top:90px;
}
/** Main screen **/
.main-screen__img{
    max-height:213px;
}
/** Services **/
.property__icon{
    font-size:24px;
}
/** Footer **/
.footer{
    height:50px;
}
.copyright{
    color:var(--secondary);
    font-size:12px;
}

@media all and (max-width:768px) {
    .h1{
        font-size:28px;
    }
    .h3{
        font-size:20px; 
    }
    .section{
        margin-top:45px;
    }
    .property__icon{
        font-size:20px;
    }
    .property__text{
        font-size:14px;
    }
}
@media all and (max-width:400px){
    .h1{
        font-size:22px;
    }
}

