html{
    height:100%;
}

.h1{
    font-family: 'Russo One', sans-serif;
    font-size:32px;
}
.h3{
    font-size:24px;
}

.h4{
    font-size:13px;
    font-weight:300;
}
.active{
    color:var(--dark-custom)!important;
}
:root{
    --lighter:#75C788;
    --light: #6ab47b;
    --primary:#599a68;
    --dark: #32673f;
    --secondary: #bdc3c7;
}
.bg-lighter{
    background-color: var(--lighter)!important;
}
.bg-primary{
    background-color: var(--primary)!important;
}
.bg-light{
    background-color: var(--light)!important;
}
.bg-dark{
    background-color: var(--dark)!important;
}
.bg-secondary{
    background-color: var(--secondary)!important;
}
.btn-danger{
    background-color: var(--danger)!important;
}
.border-dark{
    border-color: var(--dark)!important;
}

.border-bottom{
    border-bottom:5px solid var(--light)!important;
}
.border-primary{
    border-color: var(--primary)!important;
}
.btn-light{
    background-color: var(--light)!important;
}
.btn{
    position:relative;
    border:none;
    border-radius:0;
    border-bottom: 5px solid var(--primary);
    color:#fff;
   
}
.btn-light:hover{
    border-bottom: 5px solid var(--primary);
    color:var(--dark);
    
}
.text-light{
    color:var(--secondary)!important;
}

.page{
    height:100%;
    display:flex;
    flex-direction:column;
    font-family:'Open Sans', sans-serif!important;
}
.page__main{
    flex-grow:1;
}
.header{
    color:white;
}
.section{
    margin-top:90px;
}
.footer{
    height:50px;
}
.main-nav,
.secondary-nav{
    font-weight:800;
}
.nav-link:hover{
    color: var(--dark)!important;
}
.main-nav{
    font-size:18px;
}
.secondary-nav{
    font-size:14px;
}
.phone__number{
    font-size:18px;
}
.phone__icon{
    font-size: 24px;
}
.phone__inner{
    height:50px;
}
.navbar-brand__name{
    margin-bottom:0;
}
.navbar-brand__position{
    font-size: 16px;
}

.facebook__icon{
    font-size:24px;

}
.main-screen__img{
    max-height:213px;
}
.property__icon{
    font-size:24px;
}
.copyright{
    color:var(--secondary);
    font-size:12px;
}

