<footer class="footer container-fluid ">
    <div class="container h-100 d-flex align-items-center justify-content-center">
        <div class="row ">
            <div class="social-links h-100 d-flex align-items-center">
                <a class="facebook" href="https://www.facebook.com/profile.php?id=100014064605939"><i class="facebook__icon fab fa-facebook-square  text-light"></i></a>
            </div>
            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class=" copyright d-flex justify-content-center">
                    <p>© 2020 Юлия Рудоманенко</p>
                </div>
            </div>
            
        </div>
    </div>
</footer>