<footer class="footer section container-fluid ">
    <div class="container h-100 d-flex align-items-center justify-content-center">
        <div class="row ">
            <div class="social-links h-100 d-flex align-items-center">
                <a class="facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100014064605939"><i class="facebook__icon fab fa-facebook-square  text-light"></i></a>
            </div>
            
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <div class=" copyright d-flex justify-content-center">
                    <p>&copy; 2020 Юлия Рудоманенко</p>
                </div>
            </div>
            
        </div>
    </div>
    <a href="tel:+380678300340" id="popup__toggle" onclick="return false;"><div class="circlephone" style="transform-origin: center;"></div><div class="circle-fill" style="transform-origin: center;"></div><div class="img-circle" style="transform-origin: center;"><div class="img-circleblock" style="transform-origin: center;"></div></div></a>

</footer>