<header class="header ">
    <div class="secondary-nav bg-lighter  ">
        <div class="container d-none d-md-flex justify-content-between">
            <div class="">
                <div class="phone">
                    <div class="phone__inner d-flex align-items-center">
                        <i class="phone__icon fas fa-phone"></i>
                        <span class="phone__number ml-1"><a class="text-white" href="tel:+380678300340">+38(067)830-0340</a></span>
                    </div>
                </div>
            </div>
            <div class="">
                <nav class="nav h-100 pb-1 justify-content-end">
                    <a href="/certification/index" class="nav-link align-self-center text-white{% if page == 'certificate' %} active {% endif %}">{{ trans('header.menu.education') }}</a>
                    <a href="/about/contact"         class="nav-link text-white align-self-center{% if page == 'contact' %} active {% endif %}"  >{{ trans('header.menu.contacts') }}</a>
                    <a href="/admin/login"         class="nav-link align-self-center text-white pr-0" target="_blank"><i class="fas fa-user"></i> {{ trans('header.menu.login') }}</a>
                </nav>
            </div>
        </div>
            

                       
    </div>
    <div class=" main-nav bg-light border-bottom border-primary">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark px-0">
                <a class="navbar-brand" href="/">
                    <h2 class="navbar-brand__name h1 text-white">{{ trans('header.title') }}</h2>
                    <h5 class="navbar-brand__position h5">{{ trans('header.subtitle') }}</h5>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <nav class="navbar-nav ml-auto ">
                        <a class="nav-link text-white{% if page == 'home' %} active {% endif %}" href="/">{{ trans('header.menu.home') }} </a>
                        <a class="nav-link text-white{% if page == 'online_appointment' %} active {% endif %}" href="/appointment/index">{{ trans('header.menu.services') }}</a>
<!--                        <a class="nav-link text-white{% if page == 'about' %} active {% endif %}" href="/about/index">{{ trans('header.menu.about') }}</a>-->
                        <a class="nav-link text-white{% if page == 'blog' %} active {% endif %}  pr-0" href="/blog/index">{{ trans('header.menu.blog') }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-link text-white d-md-none{% if page == 'contact' %} active {% endif %}" href="/about/contact" >{{ trans('header.menu.contacts') }}</a>
                        <a class="nav-link text-white d-md-none{% if page == 'certificate' %} active {% endif %}" href="/certification/index" >{{ trans('header.menu.education') }}</a>
                        <a href="/admin/login" class="nav-link text-white d-md-none" target="_blank"><i class="fas fa-user"></i> {{ trans('header.menu.login') }}</a>
                    </nav>

                </div>
            </nav>
        </div>

      
        
    </div>
</header>