<header class="header">
    <div class="secondary-nav container-fluid bg-lighter  d-none d-md-flex">
        
            
                <div class="offset-lg-4 offset-md-2 col-lg-3 col-md-4 col-sm-5">
                    <div class="phone">
                        <div class="phone__inner d-flex align-items-center">
                            <i class="phone__icon fas fa-phone"></i>
                            <span class="phone__number ml-1">+38(067)830-0340</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 ">
                    <nav class="nav h-100 pb-1 justify-content-end px-2">
                        <a href="/" class="nav-link align-self-center text-white">Научные статьи</a>
                        <a href="/" class="nav-link align-self-center text-white">Сертификаты</a>
                    </nav>
                </div>
                       
    </div>
    <div class="main-nav container-fluid bg-light border-bottom border-primary">
        
            <nav class="navbar navbar-expand-md navbar-dark ">
                <a class="navbar-brand" href="/">
                    <h2 class="navbar-brand__name h1">Юлия Рудоманенко</h2>
                    <h4 class="navbar-brand__position h4">Психолог, психотерапевт</h4>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon "></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <nav class="navbar-nav ml-auto ">
                    <a class="nav-link text-white active" href="/">Главная </a>
                    <a class="nav-link text-white" href="/">Записаться</a>
                    <a class="nav-link text-white" href="/">Обо мне</a>
                    <a class="nav-link text-white" href="/">Блог</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link text-white d-md-none" href="/" >Научные статьи</a>
                    <a class="nav-link text-white d-md-none" href="/" >Сертификаты</a>
                  </ul>
                </div>
              </nav>
      
        
    </div>
</header>