{% if services %}
    <section id="services" class="services section container d-flex flex-column">
        <div class="row">
            <div class="col text-center">
                <h2 class="h1 mb-0">Услуги</h2>
            </div>
        </div>
        <div class="loadMore">
        {% for service in services %}
            <div   class="row mt-4  pb-4 border-light-bottom ">
                <div class="col-md-3 mb-2">
                    <img src="{{ service.image}}" alt="" class="d-none d-md-flex img-fluid">
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col">
                            <h3 class="h3 mb-2 mb-md-4">{{ service.name}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex">
                                <div class="properties d-flex flex-row flex-md-column">
                                    <div class="property d-flex align-items-center pb-2 pr-2">
                                        <i class="property__icon far fa-clock"></i>
                                        <span class="property__text px-2">{{ service.duration }}</span>
                                    </div>
                                    <div class="property d-flex align-items-center pb-2">
                                        <i class="property__icon far fa-money-bill-alt"></i>
                                        <span class="property__text px-2">{{ service.price }} грн.</span>
                                    </div>
                                </div>
                                <div class="properties d-flex flex-row flex-md-column">
                                    <div class="property d-flex align-items-center pb-2">
                                        <ul class="m-0">
                                            <li><span class="property__text ">Очно или онлайн</span></li>
                                        </ul>
                                        
                                        
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="row pt-2">
                        <div class="col">
                            <a class="btn btn-light " href="/appointment/{{ service.id }}/show">Узнать больше</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </section>
{% endif %}