{% set page = "certificate"%}
{% extends "admin/base.html" %}

{% block title %}Сертификаты{% endblock %}
{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.css" integrity="sha256-K4PK62zpbl/XelQ0bLxyUztMw5nLdGyd2qGmPTGM1oY=" crossorigin="anonymous" />
{% endblock %}
{% block footer%} 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js" integrity="sha256-CtKylYan+AJuoH8jrMht1+1PMhMqrKnB8K5g012WN5I=" crossorigin="anonymous"></script>
  <script>

    $('.save').click(function(){
      $('.form').submit();
    });
</script>
{% endblock %}

{% block body %}
    <!-- ACTIONS -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="/admin/certification/index" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i> Назад
          </a>
        </div>
        <div class="col-md-3">
          <button class="save btn btn-success btn-block">
            <i class="fas fa-check"></i> Сохранить изменения
          </button>
        </div>
        <div class="col-md-3">
            <a href="/admin/certification/{{ record.id }}/delete" onclick="return confirm('Безвозвратно удалить?')" class="btn btn-danger btn-block">
              <i class="fas fa-trash"></i> Удалить запись
            </a>
          </div>
      </div>
    </div>
  </section>

  <!-- DETAILS -->
  <section id="details">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Редактировать сертификат</h4>
            </div>
            <div class="card-body">
              <form class="form" action="/admin/certification/{{ record.id }}/save-changes" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="title">Название</label>
                  <input type="text" class="form-control" name="name" value="{{ record.name }}" >
                </div>
                <div class="form-group">
                  <label for="image">Загрузить изображение</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="image" name="image" value="">
                    <label for="image" class="custom-file-label" >Выберите изображение</label>
                  </div>
                  <small class="form-text text-muted">Max Size 3mb</small>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}