{% set page = "home"%}
{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block footer%} 
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6"></script>
{% endblock %}

{% block body %}

    <section class="main-screen section container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="h1 mb-4">Психологическая помощь</h1>
                <p class="mb-4">Если Вы попали на мой сайт, значит Вы в процессе поиска решения важного жизненного вызова, который называют кризисом. Я помогу Вам разглядеть проблему со всех сторон и найти самое оптимальное решение для Вас!</p>
                <a href="#services" class="btn btn-light">Узнать больше</a>
            </div>
            <div class="offset-lg-1 col-lg-5 d-none d-lg-flex">
                <img class="main-screen__img img-fluid" src="/img/saving_circle_w256.png" alt="Спасательный круг">
            </div>
        </div>
    </section>
    <section id="services" class="services section container">
        <div class="row">
            <div class="col text-center">
                <h2 class="h1 ">Услуги</h2>
            </div>
        </div>
        {% for service in services %}
            {% include 'templates/service.html' %}
        {% endfor %}
        
    </section>
    <section class="comments section container">
        <div class="row">
            <div class="col text-center">
                <h2 class="h1 mb-4">Отзывы</h2>
            </div>
        </div>
        <div class="row">
            
            {% for facebook_comment in facebook_comments %}
                {% include 'templates/facebook_comment.html' %}
            {% endfor %}
            
        </div>
    </section>
    <section class="feedback section container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="h1 mb-4">Оставьте сообщение</h2>
                <form action="#contact" method="post" >
                    <div class="form-group">
                      <label for="name">Имя:</label>
                      <input type="text" name="name" class="form-control" id="name" placeholder="Иван Иванович Иванов" 
                      value="">
                    </div>
                    <div class="form-group">
                        <label for="phone">Телефон:</label>
                        <input type="text" name="phone" class="phone-mask form-control" id="phone" placeholder="Телефон"
                        value="">
                      </div>
                      <div class="form-group">
                        <label for="message">Сообщение:</label>
                        <textarea class="form-control " name="message" id="message" placeholder="Кратко опишите вашу проблему" ></textarea>
                      </div>
                    <input type="submit" name="submit" class="btn btn-light" value="Отправить">
                    <div class="form-group my-3">
                        <p class="text-success text-center"></p>
                    </div>
                  </form>
            </div>
            <div class="offset-lg-2 col-lg-4">
                
            </div>

        </div>
    </section>

{% endblock %}
