{% set page = "home" %}
{% extends "base.html" %}

{% block title %}{{ trans('pages.home.meta_title') }}{% endblock %}

{% block footer %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v12.0"
            nonce="wgfC6a4f"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"
            integrity="sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA=" crossorigin="anonymous"></script>
    <script src="/js/plugins/loadMoreResults.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        $(document).ready(function () {
            $('.comments .loadMore').loadMoreResults({
                displayedItems: 6,
                showItems: 6,
                button: {
                    'class': 'btn btn-light',
                    'text': '{{ trans('actions.show_more') }}'
                },
                tag: {
                    name: 'div',
                    class: 'item'
                }

            });
        });
    </script>



{% endblock %}

{% block body %}

    <section class="main-screen section container">
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <h1 data-editable data-name="home_heading" data-fixture class="h1 mb-4">{{ msg('home_heading') }}</h1>
                <p data-editable data-name="home_subheading" data-fixture class="mb-4">{{ msg('home_subheading') }}</p>

            </div>
            <div class="offset-lg-1 col-lg-5 col-4 offset-4  order-1 order-lg-2 pb-5">
                <img class="main-screen__img img-fluid" src="/img/saving_circle_w256.png" alt="saving circle">
            </div>
        </div>
    </section>


    <section class="about section container d-flex flex-column">
        <div class="row">
            <div class="col">
                <h2 class="h1 mb-4">Про мене</h2>
            </div>
        </div>
        <div class="row">
<!--            <div class=" offset-lg-1 col-lg-2">-->
<!--                <img src="/img/profile_W161.png" alt="Picture of Rudomanenko Juliya" class="img-fluid">-->
<!--            </div>-->
            <div class="col-lg-7 mt-3 mt-lg-0">
                <p data-editable data-name="about_heading" data-fixture>{{ msg('about_heading') }}</p>
                <p data-editable data-name="about_subheading" data-fixture>{{ msg('about_subheading') }}</p>
            </div>
        </div>

    </section>


    <!-- Услуги -->
    {% include 'templates/service.html' %}

    {% include 'templates/facebook_post.html' %}
    <section id="feedback" class="feedback section container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="h1 mb-4" data-editable data-fixture>{{ trans('forms.feedback.title') }}</h2>

                {% if errors %}
                    <div class="p-2 border my-4">

                        {% for error in errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>

                {% endif %}

                {% include 'templates/feedback_form.html' %}
            </div>
            <div class="offset-lg-2 col-lg-4">

            </div>

        </div>
    </section>

{% endblock %}
