{% set page = "blog"%}
{% extends "base.html" %}

{% block title %}{{ trans('pages.blog.meta_title') }}{% endblock %}

{% block footer%} {% endblock %}

{% block body %}

    
{% if records %}
<section  class=" section container d-flex flex-column">
    <div class="row mb-4">
        <div class="col text-center">
            <h2 class="h1 mb-0">{{ trans('pages.blog.title') }}</h2>
        </div>
    </div>
    <div >
    {% for record in records %}
        <div   class="row mt-4  pb-4 border-light-bottom ">
            <div class="col-md-3 mb-2">
                <img src="{{ record.image}}" alt="" class="d-none d-md-flex img-fluid">
            </div>
            <div class="col-md-9">
                
                <div class="row">
                    <div class="col">
                        <div class="d-flex">
                            <div class="h2">{{ record.title }}</div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col">
                        <p >{{ record.content|u.truncate(140, '...') | html_entity_decode |raw|nl2br   }}</p>
                    </div>
                    
                </div>
                <div class="row pt-2">
                    <div class="col">
                        <a class="btn btn-light " href="/{{ record.slug }}">{{ trans('actions.read') }}</a>
                    </div>
                    
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    <div class="row mt-4">
        <div class="col">
            <!-- PAGINATION -->
            <nav class="ml-4">
                <ul class="pagination">
                {% if pages.prev %}
                <li class="page-item ">
                    <a href="/blog/index/{{ pages.prev }}" class="page-link">&lt;</a>
                </li>
                {% endif %}

                {% for page in pages.pages %}
                <li class="page-item{% if pages.current == page %} active{% endif%}">
                    <a href="/blog/index/{{ page }}" class=" page-link">{{ page }}</a>
                </li>
                {% endfor %}
                {% if pages.next %}
                <li class="page-item">
                    <a href="/blog/index/{{ pages.next }}" class="page-link">&gt;</a>
                </li>
                <li class="page-item">
                    <a href="/blog/index/{{ pages.last }}" class="page-link">&gt;&gt;</a>
                </li>
                </ul>
                {% endif %}
            </nav>
        </div>
    </div>
   
</section>
{% endif %}{% include 'templates/service.html' %}
    

{% endblock %}