{% set page = "about"%}
{% extends "base.html" %}

{% block title %}Обо мне{% endblock %}

{% block footer%} {% endblock %}

{% block body %}
    <section class="section container">
        <div class="row">
            <div class=" offset-lg-1 col-lg-2">
                <img src="/img/profile_W161.png" alt=">Фотография Юлии Рудоманенко" class="img-fluid">
            </div>
            <div class="col-lg-7 mt-3 mt-lg-0">
                <h4 class="h4 mb-3">Обо мне</h4>
                <p>Рада приветствовать Вас! Я – Юлия Рудоманенко, психолог и психотерапевт, официально работаю старшим психологом в Детском специализированном (специальном) клиническом санатории «Хаджибей» МЗ Украины. Являюсь автором научных статей и пишу научную работу на тему «Прокрастинация». 25 лет замужем, у нас с мужем трое замечательных самостоятельных детей. Увлекаюсь рисованием, философией, люблю природу и жизнь во всех ее проявлениях! Люблю свою профессию! Считаю, что психолог - исследователь и врачеватель уникальной человеческой души, к индивидуальности которой отношусь с большим уважением.</p>
                
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-7 offset-lg-3">
                <h4 class="h4 mb-4">Образование</h4>
                <p>Имею два государственных диплома по специальности «психология»- «специалиста» и «магистра» психологии, занимаюсь в аспирануре - специальность «психология». Закончила длительные специализации по Семейной психотерапии в гештальт подходе, Травматерапии – интегрированная терапия психотравмы (подготовка психотравматерапевтов), Работа с сексуальной тематикой в гештальт-подходе, Пропедевтику психиатрии, Кризисной психологии, обучилась работе с зависимым поведением, Арт-терапии, телесно-ориентированной психотерапии, гештальт терапевт, постоянно повышаю квалификацию. </p>
            </div>
        </div>
    </section>
{% endblock %}