{% set page = "post"%}
{% extends "Admin/base.html" %}

{% block title %}Посты{% endblock %}
{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.css" integrity="sha256-K4PK62zpbl/XelQ0bLxyUztMw5nLdGyd2qGmPTGM1oY=" crossorigin="anonymous" />
{% endblock %}
{% block footer%} 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js" integrity="sha256-CtKylYan+AJuoH8jrMht1+1PMhMqrKnB8K5g012WN5I=" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="/admin/publishment/add" class="btn btn-primary btn-block" >
          <i class="fas fa-plus"></i> Добавить пост
        </a>
      </div>
    </div>
  </div>
</section>
    <!-- Services -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Услуги</h4>
            </div>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>№</th>
                  <th>Заголовок</th>
                  <th>Действия</th>
                </tr>
              </thead>
              <tbody>
                {% for record in records %}
                    <tr>
                      <td>{{ loop.index + ((pages.current - 1) * pages.limit) }}</td>
                      <td>{{ record.title }}</td>
                      <td class="d-flex ">
                        <a href="/admin/publishment/{{ record.id }}/edit" class="mr-3" >
                          <i class="fas fa-edit"></i>
                        </a>
                        <a href="/admin/publishment/{{ record.id }}/delete" onclick="return confirm('Безвозвратно удалить?')" class="text-danger" >
                          <i class="fas fa-trash"></i>
                        </a>
                        
                      </td>
                    </tr>
                {% endfor %}
                
              </tbody>
            </table>
            <!-- PAGINATION -->
            <nav class="ml-4">
              <ul class="pagination">
                {% if pages.prev %}
                <li class="page-item ">
                  <a href="/admin/publishment/index/{{ pages.prev }}" class="page-link">&lt;</a>
                </li>
                {% endif %}

              {% for page in pages.pages %}
                <li class="page-item{% if pages.current == page %} active{% endif%}">
                  <a href="/admin/publishment/index/{{ page }}" class=" page-link">{{ page }}</a>
                </li>
              {% endfor %}
              {% if pages.next %}
                <li class="page-item">
                  <a href="/admin/publishment/index/{{ pages.next }}" class="page-link">&gt;</a>
                </li>
                <li class="page-item">
                  <a href="/admin/publishment/index/{{ pages.last }}" class="page-link">&gt;&gt;</a>
                </li>
              </ul>
              {% endif %}
            </nav>
          </div>
        </div>
       
      </div>
    </div>
  </section>
{% endblock %}